 @charset "utf-8";
/* CSS Document */
body{
	 background-color:#DCDCDC;
 }
 #wrap{width:350px;
		margin:auto;
		padding:0
 }
 #headldiv{
	width:350px;
	margin:auto;
	padding-top:12px;
	margin-bottom:10px;
	
}#loghead{
	font-size: 30px;
	text-align: center;
	font-family: cursive;
	margin:0px;
	opacity:.9;
	
}
#gettitle{
	width:350px;
	margin:auto;
	
	
}
.sign1{
	float:left;
	width:50%;
	height:50px;
	border-bottom:1px solid #CCC;
	background:#FFF;
	padding:0;
	margin:0;
}
.logheadline{
	margin-bottom:0px;
	margin-top:13px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:lighter;
	padding-left:20px;
}
#form{
	background:#FFFFFF;
	padding:0px 20px 20px 20px;
	margin-top:62px;
	opacity:.9;
}
input[type=text],input[type=password],input[type=email]{
	width:283px;
	font-family:Arial, Helvetica, sans-serif;
	padding:10px;
}
input[type=submit]{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:lighter;
	width:303px;
	color:#fff;
	background-color:#FFBC00;
	border:2px solid #ffffff;
padding:10px;
font-size:20px;
cursor:pointer;
border-radius:7px;
margin-top:10px;
margin-bottom:15px;
}
input[type=submit]:hover{
	background-color:#00008B;
}